body {
    font-family: var(--font-main);
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

.header-content {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.nav a:hover {
    color: var(--secondary-color);
}

.hero {
    height: 100vh;
    background-image: url("images/headphones_hero_1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

.hero-content {
    max-width: 600px;
    padding: 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
    font-size: 18px;
}

.btn {
    padding: 15px 30px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ff7d7d;
}

@media (max-width: 768px) {

    .header-content {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }
}

.our-results {
    background-image: url("images/headphones_hero_2.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.our-results h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.results-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 50px;
}


.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
}

.result-box p {
    margin-top: 15px;
    font-size: 18px;
}

@media (max-width: 768px) {
    .results-items {
        flex-direction: column;
        gap: 40px;
    }
}